div {
  width: 90%;
  height: 100px;
  border: 2px solid #333;
  margin: 10px auto;
}

/* Dégradé n°1 : jaune→ rouge→ violet*/
#ex1 {
  background: linear-gradient(
    RGB(240, 240, 0),
    RGB(240, 0, 0),
    RGB(120, 0, 240)
  );
}

/*Dégradé n°2 : bleu foncé→ bleu→ vert*/
#ex2 {
  background: linear-gradient(RGB(0, 0, 120), RGB(0, 0, 240), RGB(0, 240, 0));
}

/*Mélange des deux dégradés précédents*/
#ex3 {
  background: linear-gradient(
      RGBa(240, 240, 0, 0.5),
      RGBa(240, 0, 0, 0.5),
      RGBa(120, 0, 240, 0.5)
    ),
    linear-gradient(
      RGBa(0, 0, 120, 0.5),
      RGBa(0, 0, 240, 0.5),
      RGBa(0, 240, 0, 0.5)
    );
}
